<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Task</title>
    <style>
        h1{
            margin-inline: auto;
            padding: 24px;
        }
    </style>
</head>
<body>
    <h1>Direction Aware Navbar (4pts.)</h1>
    <video width="100%" controls src="./navbar.mov"></video>
    <h1>Animated ToolTip (4pts.)</h1>
    <video width="100%" controls src="./tootip.mov"></video>
    <h1>Image carosuel transition (4pts.)</h1>
    <video width="100%" controls src="./image-carasouel.mov"></video>
</body>
</html>