<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Task</title>
    <style>
        h1{
            margin-inline: auto;
            padding: 24px;
        }
    </style>
</head>
<body>
    <a href="assets.zip" download >Download assets</a>
    <h1> Direction Aware Navbar (4pts.)</h1>
    <video width="100%" controls src="./navbar.mov autoplay loop"></video>
    <h1> Animated ToolTip (4pts.)</h1>
    <video width="100%" controls src="./tootip.mov" autoplay loop ></video>
    <h1> Image carosuel transition (* free to use image as your choice) (4pts.)</h1>
    <video width="100%" controls src="./image-carasouel.mp4" autoplay loop></video>
    <h1> Navbar 2.0 (* effect shold be appliend on hover) (4pts.)</h1>
    <video width="100%" controls src="./navbar-2.mov" autoplay loop></video>
    <h1> Image carosuel transition 2.0 (4pts.)</h1>
    <video width="100%" controls src="./image-carasoue_2.mp4" autoplay loop></video>
</body>
</html>
